//Tablet view
@media (max-width: 1100px) {
  body {
    background-color: blue;
  }
  
  body{
    background-color: black;
  }
  .card{
    width: 32vw;
  }
  .card_txt ul li{
    font-size: 1rem;
    line-height: 1.5;
  }
  .main_stat{
    font-size: 1.2rem;
  }
}
//small tablet 
//large mobile 
//small mobile
