:root{
    --bg-primary: rgb(11, 11, 148);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--bg-primary);
    color: white;
    font-size: 1.7rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: space-between;
    width: 96vw;
    background-color: rgba(248, 247, 247, 0.637);
}
.search_section{
    background-color: black;
    width: 30vw;
    height: 77vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section_input_area{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 1vh auto;
}
.country_input{
    width: 90%;
    padding: 1vh;
    font-size: 0.9rem;
    border-radius: 2rem;
    margin: 0 auto;
    border: 0;
}
.search_btn{
    /* width: 20%; */
    /* border: 0; */
    border-radius: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: black;
    border: 2px solid white;
    margin: 1vh auto; 
    padding: 1.5vh 2vw;
    font-size: 1.2rem;
}
.search_section_txt{
    font-size: 1.4rem;
    text-align: center;
    width: 90%;
    margin: 1vh auto;
}

.insert_country_child{
    /* height: 100%; */
    align-self: center;
}
.card{
    width: 24vw;
    height: 67vh;
    align-self: center;
    /* border: 2px solid blue; */
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.363);
}

.card_img{
    width: 100%;
    height: 30vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: black;
}
.card_txt{
    font-size: 1.2rem;
    padding: 1vh;
}
.card_txt h2{
    text-align: center;
}
.card_txt ul li{
    line-height: 1.8;
    list-style: none;
}
.main_stat{
    color: red;
    font-weight: bolder;
    font-size: 1.35rem;
}



footer{
    background-color: var(--bg-primary);
    color: white;
    font-size: 1rem;
    height: 8vh;
    text-align: center;
    /* margin-top: 1vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
footer > a{
    color: white;
}
